.fondo-container {
    width: 100%;

}

.background-image {
    background-image: url('../assets/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;

    display: flex;
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */

}


.text-container {
    text-align: left;

    margin-left: -200px;
    /* Ajusta el margen izquierdo según sea necesario */
    margin-top: -200px;
}

.content {
    width: 170px;
    display: flex;
    flex-direction: column;
    /* Apila los elementos verticalmente */
    align-items: center;
    /* Centra los elementos horizontalmente */
    justify-content: center;
    /* Centra los elementos verticalmente */
    margin: auto;
}

.site-subtitle {
    color: rgb(0, 174, 232);
}

.Plabras-claves {
    color: rgb(0, 174, 232);
}

.subtitle{
    font-size: 23px;
}

.about {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
}

.about p {
    max-width: 300px;
    margin: auto;
    word-wrap: break-word;
    /* Permite que las palabras se rompan y fluyan hacia abajo */
}

.imagenes-about img {
    width: 300px;

}

.imagenes-about {
    display: flex;
    gap: 40px;
    /* Puedes ajustar este valor según tus necesidades */
    width: fit-content;
    margin: auto;
}

.imagenes-about i {
    font-size: 100px;
    color: rgb(0, 174, 232);
}

h3 i {
    color: rgb(0, 174, 232);
}

.detalle-about {
    background-color: aquamarine;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.about-is {
    border-bottom: 5px solid rgb(0, 174, 232);
    width: fit-content;
    margin: auto;
    padding-bottom: 5px;
}

.text-parraf {
    font-weight: 500;
}

.carousel {
    width: 70%;
    margin: auto;
}

/* .carousel img{
    box-shadow: 2px 4px 8px #ff0000, -2px -4px 8px #0000ff;
} */

.contenedores-container {
    display: flex;
    width: fit-content;
    margin: auto;
    gap: 40px;
    /* Puedes ajustar este valor según tus necesidades */
    text-align: center;
}

.contenedor {
    width: 250px;
    background-color: rgba(240, 248, 255, 0.167);
    box-shadow: 1px 2px 4px rgba(98, 98, 98, 0.319);
    padding: 20px;
    border-radius: 5px;
}

.contenedores-container img {
    border-radius: 50%;
    width: 170px;
    margin: auto;
    border: 1px solid rgb(0, 174, 232);
}

.contenedores-container h2 {
    font-size: 20px;
}

.Participantes {
    text-align: center;
    margin-top: 50px;
}

.Participantes h2 {
    margin-bottom: 10px;
}


button {
    border: 2px solid #24b4fb;
    background-color: rgb(0, 174, 232);
    border-radius: 0.3em;
    padding: 0.3em 1.2em 0.3em 1em;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

button:hover {
    background-color: #0071e2;
}



.software {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
}

.software p {
    max-width: 300px;
    margin: auto;
    word-wrap: break-word;
    /* Permite que las palabras se rompan y fluyan hacia abajo */
    text-align: center;
}



.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-link {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    box-shadow: 1px 2px 4px rgba(98, 98, 98, 0.319);
    transition: transform 0.3s; /* Agrega una transición suave al movimiento */

}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: white;
    transition: opacity 0.3s;
    font-weight: 600;
    font-size: 20px;
}

.image-link:hover .hover-overlay {
    opacity: 1;

}

.image-link:hover {
    background-color: rgba(0, 174, 232, 0.441);
    transform: translate(0px, 5px); /* Ajusta los valores para el desplazamiento en X e Y */
    box-shadow:  3px 4px 7px rgba(0, 174, 232, 0.441);
}

.image-container2 img{
    width: 200px;
}


footer {
    background-color: rgb(255, 255, 255);
    height: 200px;
    margin-top: 50px;
    text-align: center;
}

.container-linkedin{
    display: flex;
    text-align: center;
    gap: 40px;
    width: fit-content;
    margin: auto;
    word-wrap: break-word;
}

.bi-linkedin{
    color: rgb(105, 105, 105);
    font-size: 35px;
    transition: all 0.3s;
    
}

.bi-linkedin:hover{
    color: rgb(0, 174, 232);
}

.card-linkedin p{
    font-weight: 500;

}

video{
    background-color: rgba(240, 248, 255, 0.167);
    box-shadow: 1px 2px 4px rgba(98, 98, 98, 0.319);
    border-radius: 5px; 
}

@media only screen and (max-width: 600px) {
    .imagenes-about {
        display: block;
        width: fit-content;
        margin: auto;
    }

    .contenedores-container {
        display: block;
    }

    /* Agrega más estilos para pantallas pequeñas si es necesario */
}