*{
  margin: 0;
  padding: 0;
  font-family: system-ui;
}
body{
  background-color: rgb(216, 223, 239);
}

.container-fluid{
  justify-content: space-between;
}

.app-title{
  color:rgb(0, 174, 232);
}
.home{
position: relative;


}
